
//$background
$background: rgba(2, 3, 1, 1);
//$foreground
$foreground: rgba(245, 245, 245, 1);
//$color0
$color0: rgba(2, 3, 1, 1);
//$color1
$color1: rgba(150, 78, 78, 1);
//$color2
$color2: rgba(111, 113, 102, 1);
//$color3
$color3: rgba(144, 145, 176, 1);
//$color4
$color4: rgba(169, 171, 168, 1);
//$color5
$color5: rgba(223, 172, 183, 1);
//$color6
$color6: rgba(229, 229, 227, 1);
//$color7
$color7: rgba(233, 233, 232, 1);
//$color8
$color8: rgba(163, 163, 162, 1);
//$color9
$color9: rgba(150, 78, 78, 1);
//$color10
$color10: rgba(111, 113, 102, 1);
//$color11
$color11: rgba(144, 145, 176, 1);
//$color12
$color12: rgba(169, 171, 168, 1);
//$color13
$color13: rgba(223, 172, 183, 1);
//$color14
$color14: rgba(229, 229, 227, 1);
//$color15
$color15: rgba(233, 233, 232, 1);
